$color-blue: #004A80;
$color-gradient-white: linear-gradient(0deg, #E6E6E6 0%, #FFFFFF 100%);
$color-white: #FFFFFF;
$color-black: #000000;
$color-gold: #F6BC25;
$color-light-gold: #F2DA56;
$color-input-text: #9B9B9B;
$color-main-header-text: #4A4A4A;
$color-gray: #999999;
$color-white-loader: #F8F8F8;

$font-normal: 'Roboto', sans-serif;